body {
  margin-left: 20%;
  margin-right: 20%;
}
@media (max-width: 800px){
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  h1 {
    text-align: center;
  }
  form {
    text-align: center;
  }
}
h1{
  color: orange;
  font-size: 400%;
  margin-bottom: 25px;
}
li {
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
  font-size: 140%;
}
input:focus, button:focus {
  outline: none;
}
::placeholder {
  color: lightgray;
}
input[type=text]:focus{
  color: black;
}
input[type=text] {
  font-size: 30px;
  width: 225px;
  display: inline-block;
  padding-left: 6px;
  color: lightgray;
  border: none;
}
#todos button {
  color: orange;
  background-color: white;
  font-size: 30px;
  border: none;
}
p{
  display: inline-block;
  margin: 0;
  width: 80%;
  padding-left: 42px;
}
.fa-check-circle {
  color: orange;
  visibility: hidden;
  position: absolute;
  font-size: 23px;
  left: 0px;
  top: 0;
}
.check {
  height: 25px;
  width: 25px;
  position: absolute;
  border: 1px solid lightgrey;
  border-radius: 50%;
}
.check:hover, .completed .check {
  border-color: orange;
  border-width: 1.5px;
}
.completed {
  color: lightgray;
}
.completed .fa-check-circle {
 visibility: visible;
}
.fa-trash-alt {
  color: lightgrey;
  font-size: 23px;
  position: absolute;
  right: 21%;
  z-index: -1;
}
.fa-trash-alt:hover {
  color: orange;
}
.delete:hover + .fa-trash-alt {
  color: orange;
}
.delete{
  position: absolute;
  right: 20.5%;
  background-color: transparent;
  height: 25px;
  width: 28px;
  border: none;
}
ul {
  padding: 0;
}
#sortButton {
  color: orange;
  font-size: 30px;
  border: none;
  margin-bottom: 25px;
}
